<p id="notice"><%= notice %></p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<p>
  <strong>Votable:</strong>
  <%= @vote.votable %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
